{% extends "layout.njk" %}

{% block head %}
  <title>Not found</title>
{% endblock %}

{% block content %}
  <div class="not-found">
    
    <div class="not-found-sign">
      <h1>Ops!</h1>
      <span>404</span>
    </div>
    
    <div class="not-found-info">
      <p>A página que você está procurando não foi encontrada!</p>
      <p>Verifique a URL ou clique em um dos links acima na barra de navegação</p>
    </div> 

  </div>
{% endblock %}}