@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
:root {
    --color-green: #50fa7b;
    --color-purple: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.1);
}

.links {
    text-align: center;
}

.links a {
    padding: 0 15px;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.links a:hover {
    color: var(--color-green);
    transition: color 250ms;
}


/*Estilizando main da página de descrição ---> */

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid var(--color-green);
    margin-bottom: 32px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 28px;
    opacity: 0.8;
}

#wrapper p {
    max-width: 600px;
    margin: 32px auto;
    font-size: 22px;
    line-height: 30px;
}

#wrapper ul {
    list-style: none;
    font-size: 22px;
    line-height: 34px;
    opacity: 0.8;
}

#links-footer {
    margin-bottom: 32px;
}

#links-footer a {
    padding: 0;
    margin-left: 18px;
    border-bottom: 1px solid var(--color-green)
}


/*======CARDS =======*/

.cards {
    max-width: 800px;
    /*== margin: 0 auto; alinha elemento ao meio == */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-purple);
    display: grid;

    cursor: pointer;
}

.card_image_container img {
    /* width de 100 para a largura 
    da imagem respeitar o limite do
     elemento pai */
    width: 100%;
}

.card_content,
.card_info {
    padding: 24px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card_price {
    background-color: var(--color-purple);
    /*A propriedade filter com a valor de 
    brightness é para alterar o brilho da cor*/
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}


/*=== MODAL=====*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    /*unidade vh = visão da altura
    o legal de usar o vh é que ele se adapta ao tamanho da altura */
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal{
    position: absolute;
    color: black;
    right: 30px;
    top: 8px;
    cursor: pointer;
}


/*=== MODAL.ACTIVE=====*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal.active{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 8%;
}

/*==== Posts ==== */

.author_post, .time_read{
    opacity: 0.7;
    padding-top: 4px;
}

.time_read{
    padding-top: 12px;
    font-size: 10px;
}

/* .card:hover{
    width: 104%;

    transition: width 300ms;
} */

/*== FEATURED ==*/

/* .featured-wrapper .card_image_container{
    position: relative;
} */

.card_image_container{
    position: relative;
}

.featured{
    background-color: #f7d05f;
    color: #111;
    padding: 2px 8px;
    position: absolute;
    right: 5px;
    border-radius: 16px;
    top: -10px;
}

/*== VIDEO PAGE ==*/
.video{
    margin: 0 auto;
    max-width: 800px;
}

.video.card{
    cursor: initial;

}

/* .video.card:hover{
    transition: none;
    width: 100%;
} */

.card_video_container{
    position: relative;
    width: 100%;
    padding-top: 62.5%;
}
.card_video_container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
